{% include 'base.html.twig' %}

{% block title %} Mes comptes bancaires{% endblock %}

{% block body %}
    <section class="body">

        {{ render(path('member_header')) }}

        <div class="inner-wrapper">

            {{ render(path('member_menu_left')) }}

            <section role="main" class="content-body">

                {% include 'shared/_main_page_header.html.twig' with {pageTitle:'Comptes Bancaires'} %}
                <!-- main: body -->
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title" style="color:black;font-weight: 500;">Mes comptes bancaires</h2>
                    </header>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped mb-none" id="datatable-details">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom Banque</th>
                                    <th>Code Banque</th>
                                    <th>Code Guichet</th>
                                    <th>Nº Compte</th>
                                    <th>Clé RIB</th>
                                    <th>Domiciliation</th>
                                    <th>Statut</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bank in banks %}
                                    <tr class="gradeX">
                                        <td>{{ bank.id }}</td>
                                        <td>{{ bank.nomBank }}</td>
                                        <td>{{ bank.codeBank }}</td>
                                        <td>{{ bank.codeGuichet }}</td>
                                        <td>{{ bank.numeroCompte }}</td>
                                        <td>{{ bank.cleRib }}</td>
                                        <td>{{ bank.domiciliation }}</td>
                                    {% if bank.status == 1 %}
                                    <td class="center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                        </svg>
                                    </td>
                                    {% elseif bank.status == 0 %}
                                        <td class="center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                                                <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                                            </svg>
                                        </td>
                                    {% endif %}
                                        <td><button class="btn btn-sm btn-success"><span><i class="fa fa-file"></i></span></button></td>
                                        </td>
                                     </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </div>
    </section>
{% endblock %}