{% extends 'base.html.twig' %}

{% block title %} Tableau de Bord {% endblock %}

{% block body %}
    <section class="body">

        {{ render(path('member_header')) }}

        <div class="inner-wrapper">

            {{ render(path('member_menu_left')) }}

            <section role="main" class="content-body">

                {% include 'shared/_main_page_header.html.twig' with {pageTitle:'Détail transaction'} %}

                <!-- main: body -->
                <section class="panel">
                    <div class="panel-body">
                        <div class="invoice">
                            <header class="clearfix">
                                <div class="row">
                                    <div class="col-sm-6 mt-md">
                                        <h2 class="h2 mt-none mb-sm text-dark text-bold">FACTURE</h2>
                                        <h4 class="h4 m-none text-dark text-bold">#{{ transaction.id }}</h4>
                                    </div>
                                    <div class="col-sm-6 text-right mt-md mb-md">
                                        <address class="ib mr-xlg">
                                            Okler Themes Ltd
                                            <br/>
                                            24 Henrietta Street, London, England
                                            <br/>
                                            Phone: +12 3 4567-8901
                                            <br/>
                                            okler@okler.net
                                        </address>
                                        <div class="ib" style="width: 100px;height: 100px;overflow: hidden;">
                                            <img style="width: 100%;height: 100%;object-fit: contain;" src="{{ asset('/assets/images/bpay.png') }}" alt="OKLER Themes" />
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="bill-info">
                                <div class="row">
                                    <div class="col-md-6">
                                    <div class="bill-data">
                                        <p class="mb-none">
                                            <span class="text-dark">Montant:  {{ transaction.amountPayed ~ ' ' ~ transaction.currency }}</span>
                                        </p>
                                        <p class="mb-none">
                                            <span class="text-dark">Type transaction: {{ transaction.transactionTypeName }}</span>
                                        </p>
                                        <p class="mb-none">
                                            <div style="display: flex;flex-direction: row;align-items: center;">
                                                <span class="text-dark">Méthode de paiement:</span>
                                                <div style="width: 30px;height: 30px; border-radius: 10%;overflow: hidden">
                                                    <img  style="border-radius: 10px;width: 100%;height: 100%;object-fit: cover;" src="{{ asset('/assets/images/' ~ transaction.providerImg) }}" alt="{{ transaction.providerImg }}">
                                                </div>
                                            </div>
                                        </p>

                                    </div>      </div>
                                    <div class="col-md-6">
                                        <div class="bill-data">
                                            <p class="mb-none">
                                                <span class="text-dark">Invoice Date:</span>
                                                <span class="value" style="white-space: nowrap;">{{ transaction.paymentDate|date('Y-m-d h:m:s') }}</span>
                                            </p>
                                            <p class="mb-none">
                                                <span class="text-dark">Statut:</span>
                                                {% if transaction.status == 'SUCCESSFUL' %}
                                            <td class="center">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                                </svg>
                                            </td>
                                            {% elseif transaction.status == 'FAILED' %}

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg>

                                            {% elseif transaction.status == 'PENDING' %}

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                                                        <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                                                    </svg>

                                            {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">

                            </div>


                        </div>

                        <div class="text-right mr-lg">
                            <a href="pages-invoice-print.html" target="_blank" class="btn btn-primary ml-sm"><i class="fa fa-print"></i>&nbsp;Imprimer</a>
                        </div>
                    </div>
                </section>

                <!-- end: body -->
            </section>
        </div>

    </section>
{% endblock %}
